NODE_ENV=development
PORT=3000
DB_HOST=localhost
DB_PORT=1433
DB_USERNAME=sa
DB_PASSWORD=YourStrong!Passw0rd
DB_DATABASE=aivacol_fleet
DB_SYNCHRONIZE=false
DB_LOGGING=true
JWT_SECRET=change-me
JWT_EXPIRES_IN=1d
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL_SECONDS=60
DEFAULT_ADMIN_NICKNAME=aivacol
DEFAULT_ADMIN_NAME=Aivacol Admin
DEFAULT_ADMIN_EMAIL=aivacol@example.com
DEFAULT_ADMIN_PASSWORD=aivacol123
